{% extends "base.html" %}
{% load static %}
{# ============================= Cabeça ================================= #}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'unidades/css/cadastro_filial.css' %}">
{% endblock 'head' %}
{# ============================= Corpo ================================== #}
{% block 'body' %}

{% include "partials/navbar.html" %}

<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-8">
            
            <p class="p-bold">Olá, <span class="color-dark">{{ request.user.username }}</span></p>
            <p class="p-bold">Vamos realizar seu cadastro médico legal.</p>
            {% if messages %}
                <br>
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            <br>
            <form action="{% url 'cadastro_filial' %}" method="post" enctype='multipart/form-data'>{% csrf_token %}
                
                <div class="row">
                    <div class="col-md">
                        <label for="">Nome completo:</label>
                        <input type="text" class="form-control shadow-main-color" name="nome" placeholder="Digite seu nome ...">
                    </div>
                    <div class="col-md">
                        <label for="">CEP</label>
                        <input type="text" name="cep" id="" class="form-control shadow-main-color">
                    </div>
                </div>
                <br>
                <label for="">Rua</label>
                <input type="text" name="rua" id="" class="form-control shadow-main-color" placeholder="Endereço ...">
                <br>
                <div class="row">
                    <div class="col-md">
                        <label for="">Bairro:</label>
                        <input type="text" class="form-control shadow-main-color" name="bairro" placeholder="Bairro ...">
                    </div>
                    <div class="col-md">
                        <label for="">Número:</label>
                        <input type="number" name="numero" id="" class="form-control shadow-main-color">
                    </div>
                </div>
                <br>
                <label for="">Cidade</label>
                <input type="text" name="cidade" id="" class="form-control shadow-main-color" placeholder="Cidade ...">
                <br>
               
                <label for="">Foto de perfil:</label>
                <input type="file" name="foto" id="" class="form-control shadow-main-color">
                <br>
                
                <input type="submit" value="Cadastre-se" class="btn btn-success btn-dark-color">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock 'body' %}