{% extends "base.html" %}
{% load static %}
{% block 'head' %}
    
    <link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'css/cadastro_filial.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{% endblock 'head' %}
{% block 'body' %}

{% include "partials/navbar.html" %}

<br><br>



<div class="container-fluid">
    <div class="row">
        <div class="col-md d-flex justify-content-center">
            <div class="cont-cadastro">
                <br>
                <br>
                <section class="cont-logo">
                    <img class="logo" src="{% static 'img/logo.png' %}">
                    <label class="text-logo">ATUALIZAÇÂO SALDO A SER AGENDADO</label>
                    <h2 class="fonte-destaque1">Local: {{request.user.first_name}}</h2>
                </section>
                <br>
                <hr>
                <form action="{% url 'home' %}" method="post">{% csrf_token %}

                    {% if messages %}
                    <br>
                        {% for message in messages %}
                            <section class="alert {{message.tags}}">
                                {{message}}
                            </section>
                        {% endfor %}
                    {% endif %}

                    <br>

                    <label for="">Data:</label>
                    <input type="datetime-local" name="data" class="form-control">
                    <br>    
                    

                    <label for="">Tergrasa:</label>
                    <input type="number" name="quat_tergrasa" class="form-control shadow-main-color" placeholder="Digite o peso que falta agendar no Tergrasa.">

                    <br>
                   

                    <label for="">Termasa:</label>
                    <input type="number" name="quat_termasa" class="form-control shadow-main-color" placeholder="Digite o peso que falta agendar no Termasa.">




                    
                   
                    <br>
                    <input type="submit" value="Salvar" class="btn btn-success btn-dark-color">
                    <a href="{% url 'login' %}" class="btn btn-dark-color-outline">Voltar</a>
                </form>
            </div>
        </div>


        <div class="col-md-6">        
            <p style="font-size: 25px" class="p-bold">Lembretes</p>
            <p class="bg-main-lembrete">
                <span class="p-bold"><i class="bi bi-exclamation-triangle-fill icon-differential"></i>&nbsp&nbsp Consulta com Pedro Sampario em 7 dias.</span>
        </div>    
    </div>
</div>
{% endblock 'body' %}








